body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.booklist-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-content{
    font-style: italic;
}
.card-heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.card-description{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.form{
    padding: 15px 20px;
}

